<!DOCTYPE html>

<html>
  <head>
  
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    
    <style type="text/css">

    footer {
    padding: 1.2em 0;
    background: #000;
    font-family: "Fjalla One", Verdana, Geneva, sans-serif;
    font-size: 0.95em;
    text-transform: uppercase;
    text-align:center;
    
}
     body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      
  }
  .form {

    margin-left: 350px;
    margin-right: 350px;
  }
  p {font-size: 12px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #eee; /* Dark Blue */
      
  }
  .bg-3 { 
      background-color: #eee; /* White */
      
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 200px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      background: #40bf80;
      color: #b30047;
  }

  .col-sm-4{
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    background: #008080
}

.thumbnail p {
    margin-top: 15px;
    
}
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}
div.events {
    background-color: black;
    color: white;
    margin: 50px 0 50px 0;
    padding: 20px;
}
footer {
    height: 100px;
    background: #eee;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}

      }
    </style>
  </head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="">Eventos</a>
          <div class="nav-collapse collapse pull-right">

         {% if user %}
          <a href="/post_events?" class="btn"> Create Event</a>
          <a href="{{ logout_url }}" class="btn">Logout</a>
          {% else %}
          
          <a href="{{ login_url }}" class="btn">Login</a>
          {% endif %}

          </div>
        </div>
      </div>

    </div>

<!-- First Container -->

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="bootstrap/img/caro2.jpg" alt="New York" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Mombasa</h3>
          <p>The atmosphere in Mombasa is cool.</p>
        </div>      
      </div>

      <div class="item">
      
        <img src="bootstrap/img/caro2.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Nairobi</h3>
          <p>Thank you, Nairobi - A night we won't forget.</p>
        </div>      
      </div>
    
      <div class="item">
        <img src="bootstrap/img/caro3.jpg" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Mombasa</h3>
          <p>Even though the traffic was a mess, we had the best time playing at Nyali Beach!</p>
        </div>      
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
 

<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Upcoming Events</h3><br>

<div class="row">
    
                        {% for event in events %}
                       
              <div class="col-sm-3 col-md-6 col-lg-4" style="background-color:grey;">

                             <div class="events">
                             <div class="form-group">
                              <p>{{event.name}}</p>
                            </div>
                        <div class="form-group">
                              <p>{{event.location}}</p>
                        </div>
      
                             
                            <div class="form-group">
                             <p>{{event.description}}</p>
                            </div>
                               </div>
                        
                        </div>
                            {% endfor%}
                </div>
          </div>

</body>

<div class="footer">
    COPYRIGHT#&COPY;Eventos
</div>

  </body>
</html>

