<!DOCTYPE html>
<html>
  <head>
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <!-- [END css] -->
    <style type="text/css">
     body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      
  }
  .form {

    margin-left: 350px;
    margin-right: 350px;
  }
  p {font-size: 12px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #eee; /* Dark Blue */
      
  }
  .bg-3 { 
      background-color: #eee; /* White */
      
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 200px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      background: #40bf80;
      color: #b30047;
  }

  .col-sm-4{
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    background: #008080
}

.thumbnail p {
    margin-top: 15px;
    
}
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Eventos</a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ logout_url }}" class="btn">Logout</a>
          </div>
        </div>
      </div>

    </div>
    <hr>
    <hr>
    <hr>

      <div class="container">

      {% if user %}
    <p>Welcome, {{ user.email() }}!</p>

         {% else %}

    <p>Welcome!</p>

    {% endif %}
      
      <form action="/add?" method="post">
        <p>Name of Event </p>

        <div><textarea name="name" class="input-block-level" rows="3" required></textarea></div>
        <p>Description</p>
        <div><textarea name="description"  class="input-block-level" rows="3" required></textarea></div>
        <p>Location</p>
        <div><textarea name="location" class="input-block-level" rows="3" required></textarea></div>
        
        <div><input type="submit" class="btn btn-large btn-primary" value="Add Event"></div>
      </form>

      <hr>

    </div>


  </body>

</html>

